.contentWrapper {
  display: flex;
  flex-direction: column;
  .imgWrapper {
    width: 100%;
  }
  > * {
    order: 2;
  }
  .imgWrapper {
    order: 1;
    margin-top: 12px;
    & + h1,
    & + h1 + div,
    & + h1 + div + div,
    & + h1 + div + div + div {
      order: 0;
    }
  }

  @media (min-width: 576px) {
    display: block;
    .imgWrapper {
      width: 50%;
      float: right;
      padding-left: 12px;
      padding-bottom: 12px;
      margin-top: 0;
    }
    h1 {
      margin-top: 0;
    }
  }
}
